<%= form_for @message do |f| %>

<% if @message.errors.any? %>
<div id="error_explanations">
  <h2>
    <%= pluralize(@message.errors.count, "error")%>
    prohibited this message from being saved:
  </h2>
  <ul>
    <% @message.errors.full_messages.each do |e| %>
    <li><%= e %></li>
    <% end %>
  </ul>
</div>
<%end%>

<table>
  
  <td><%= f.label :state %>: <%= f.text_field :state %>  </td>

  <td><%= f.label :plate_no %>: <%= f.text_field :plate_no %></td>
 
  <td><%= f.label :message %>: <%= f.text_area :message %></td>
 
  <td><%= f.submit %></td>
</table>
<% end %>