<p>
	<strong>Plate:</strong>
	<%= @message.state%>: <%= @message.plate_no %>
</p>

<p>
	<strong>Hate:</strong>
	<%= @message.message %>
</p>
<%= link_to 'Edit', edit_message_path %> |

<%= link_to "Back", messages_path %>