<div class="nav">
<ul>	
<li><%= link_to "Home", messages_path %></li>
</ul>
</div>


<div class="formbox">

<div class="individualPlate">
<p>
	<strong>Plate:</strong>
	<%= @message.state%>: <%= @message.plate_no %>
</p>

<p>
	<strong>Hate:</strong>
	<%= @message.message %>
</p>
<%= link_to 'Edit', edit_message_path %>

</div><!--individualPlate-->
<h3>Comments: </h3>
<div class="individualPlate"><%= render 'comments/comment' %></div>



<h2>Add a Comment</h2>
<%= render 'comments/form' %>


</div><!--formbox-->
