<%= form_for([@message, @message.comments.build]) do |f| %>
<p>
	<%= f.label :commenter %><br>
	<%= f.text_field :commenter %><br>
</p>
<p>
	<%= f.label :body %><br>
	<%= f.text_field :body %><br>
</p>
<p>
<%= f.submit %>
</p>
<% end %>